<main class="setting-users">
  <form class="user">
    <div class="modifiy-user">
      <i class="fa fa-user"></i
      ><label for="Nom d'utilisateur">Nom d'utilisateur</label>
      <div class="name">
        <span for="name">Nom d'utilisateur</span>
        <input type="text" />
      </div>
      <div class="telusers">
        <span for="telusers">Telephone</span>
        <input type="text" />
      </div>
      <div class="adrsusers">
        <span for="adrsusers">Adresse</span>
        <input type="text" />
      </div>
      <button type="button">Modifier</button>
    </div>
    <div class="modify-password">
      <i class="fa fa-key"></i>
      <label for="password">Mot de passe</label>
      <div class="password">
        <span for="password">Nouveau mot de passe</span>
        <input type="password" />
      </div>
      <div class="password">
        <span for="password">Nouveau mot de passe</span>
        <input type="password" />
      </div>
      <div class="confirm-password">
        <span for="confirm-password">Nom d'utilisateur</span>
        <input type="password" />
        <button type="button">Modifier</button>
      </div>
    </div>
  </form>
</main>
