<main class="add-emprunter">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeForm()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form class="style-form" [formGroup]="EmprunterLivre">
      <div class="container-form-body">
        <h1>{{ title }}</h1>
        <hr />

        <div class="container-form titreLivre">
          <span>Titre du livre</span>
          <select formControlName="titreLivre" id="titreLivre" required>
            <option value="titreLivre"></option>
          </select>
        </div>

        <div class="container-form nameAdhrent">
          <span>Le nom de l'Adherent</span>
          <select formControlName="nameAdhrent" id="nameAdhrent" required>
            <option value="nameAdhrent"></option>
          </select>
        </div>

        <div class="container-form dateEmprunt">
          <span>Date d'emprunt du livre</span>
          <input type="date" formControlName="dateEmprunt" required />
        </div>

        <div class="container-form dateRetour">
          <span>Date de retour du livre</span>
          <input type="date" formControlName="dateRetour" required />
        </div>

        <div class="container-form statusLivre">
          <span>Le status du Livre</span>
          <select formControlName="status" id="status">
            @for (item of status; track $index) {

            <option value="item">{{ item }}</option>
            }
          </select>
        </div>
        <div class="btn-add">
          <!-- @if (EmprunterLivre.valid) {
          <button
            class="{{
              isRegisterSuccess
                ? 'btn btn-success transition'
                : 'btn btn-primary transition'
            }}"
            type="submit"
          >
            @if(!isSubmitting && !isRegisterSuccess) { {{ formHeader }} }
          </button>
          } -->
          <button type="button" class="btn btn-primary">
            {{ formHeader }}
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
