<main class="add-bibliothecaire">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeForm()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form class="style-form" [formGroup]="EmprunterLivre">
      <div class="container-form-body">
        <h1>{{ title }}</h1>
        <hr />

        <div class="container-form titreLivre">
          <select
            name="titreLivre"
            formControlName="titreLivre"
            id="titreLivre"
          >
            <option value="titreLivre"></option>
          </select>
        </div>

        <div class="container-form nameAdhrent">
          <select
            name="nameAdhrent"
            formControlName="nameAdhrent"
            id="nameAdhrent"
          >
            <option value="nameAdhrent"></option>
          </select>
        </div>

        <div class="container-form dateEmprunt">
          <input type="datetime" formControlName="dateEmprunt" />
        </div>

        <div class="container-form dateRetour">
          <input type="datetime" formControlName="dateRetour" />
        </div>

        <div class="container-form statusLivre">
          <select name="status" formControlName="status" id="status">
            @for (item of status; track $index) {

            <option [value]="item">{{ item }}</option>
            }
          </select>
        </div>
        <div class="btn-add">
          @if (EmprunterLivre.valid) {
          <button
            class="{{
              isRegisterSuccess
                ? 'btn btn-success transition'
                : 'btn btn-primary transition'
            }}"
            type="submit"
          >
            @if(!isSubmitting && !isRegisterSuccess) { {{ formHeader }} }
          </button>
          }
        </div>
      </div>
    </form>
  </div>
</main>
