<!-- -----------ROUTES--------------- -->
<nav class="navbar">
  <div class="nav-links">
    <a
      routerLink="/private"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      <i class="fa fa-dashboard"></i> Tableau de Bord
    </a>

    <a routerLink="adherent" routerLinkActive="active" class="nav-link">
      <i class="fa fa-users"></i> Adherents
    </a>
    <a routerLink="bibliothecaire" routerLinkActive="active" class="nav-link">
      <i class="fa fa-user"></i>
      Bibliothecaire
    </a>
    <a routerLink="livre" routerLinkActive="active" class="nav-link">
      <i class="fa fa-book"></i> Livres
    </a>
    <a routerLink="parametre" routerLinkActive="active" class="nav-link">
      <i class="fa-solid fa-gear"></i> Parametres
    </a>
  </div>
  <div class="log">
    <button class="logout-btn" (click)="logOut()">
      <i class="fa fa-door-open"></i> Se deconnecter
    </button>
  </div>
</nav>
