<nav class="navbar">
  <div class="nav-links">
    <a
      routerLink="/private/adherent"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      <i class="fa fa-dashboard"></i> Professeur
    </a>

    <a routerLink="etudiant" routerLinkActive="active" class="nav-link">
      <i class="fa fa-users"></i> Etudiant
    </a>
    <a routerLink="externe" routerLinkActive="active" class="nav-link">
      <i class="fa fa-user"></i>
      Externe
    </a>
  </div>
</nav>
