.navbar {
  background-color: var(--orange);
  .nav-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .nav-link {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
