<!-- ///////////////////////////////////QRCODE//////////////////////// -->
@if(qrcodeBibliothecaire){
<section class="qrcode">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close button"
      (click)="closeForm()"
    >
      <i class="fa fa-times"></i>
    </button>

    <div class="container-form-body">
      <h1>Qrcode Bibliothecaire</h1>
      <hr />

      <div class="container-form" #content>
        <div class="qrcodeImage">
          <div class="qr-container">
            <img
              [src]="adminQrLink"
              alt="QR Code"
              style="width: 100%; object-fit: cover"
            />
          </div>
        </div>
      </div>
      <div class="btn-download">
        <button class="download" (click)="Qr()">
          <i class="fa fa-download"></i> Télécharger
        </button>
      </div>
    </div>
  </div>
</section>

}

<!-- //////////////////////////////////////////////////AJOUT/////////////////////////////////// -->
@if(isBibliothecaireComponentOpen){
<section class="add-bibliothecaire">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeForm()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form
      class="style-form"
      (submit)="createbibliothecaire()"
      [formGroup]="BibliothecaireForm"
    >
      <div class="container-form-body">
        <h1>{{ isModifAction ? "Modification" : "Enregistrement" }}</h1>
        <hr />

        <div class="container-form nom_biblio">
          <input type="text" formControlName="nom_biblio" required /><span
            >Nom*
          </span>
        </div>
        @if (nom_biblio?.touched && nom_biblio?.errors?.["required"]) {
        <p class="error-text">Nom, s'il vous plait.</p>
        }
        <div class="container-form prenom_biblio">
          <input type="text" formControlName="prenom_biblio" required />
          <span>Prenom* </span>
        </div>
        @if (prenom_biblio?.touched && prenom_biblio?.errors?.["required"]) {
        <p class="error-text">Prenom, s'il vous plait.</p>
        }
        <div class="container-form date_naissance">
          <input type="date" formControlName="date_naissance" required />
          <span>Date de naissance </span>
        </div>
        @if (date_naissance?.touched && date_naissance?.errors?.["required"]) {
        <p class="error-text">Date de naissance , s'il vous plait.</p>
        }
        <div class="container-form lieu_naissance">
          <input type="text" formControlName="lieu_naissance" required />
          <span>Lieu de naissance </span>
        </div>
        @if (lieu_naissance?.touched && lieu_naissance?.errors?.["required"]) {
        <p class="error-text">Lieu de naissance, s'il vous plait.</p>
        }
        <div class="container-form cin_biblio">
          <input type="text" formControlName="cin_biblio" required />
          <span>Carte d'Indentite Nationale (CIN)* </span>
        </div>
        @if (cin_biblio?.touched && cin_biblio?.errors?.["required"]) {
        <p class="error-text">CIN, s'il vous plait.</p>
        }
        <div class="container-form tel_biblio">
          <input type="text" formControlName="tel_biblio" required />
          <span>Contact* </span>
        </div>
        @if (tel_biblio?.touched && tel_biblio?.errors?.["required"]) {
        <p class="error-text">Numero de telephone, s'il vous plait.</p>
        }
      </div>
      <div class="btn-add">
        @if (BibliothecaireForm.valid) {
        <button
          class="{{
            isRegisterSuccess
              ? 'btn btn-success transition'
              : 'btn btn-primary transition'
          }}"
          type="submit"
        >
          @if(!isSubmitting && !isRegisterSuccess) {
          {{ isModifAction ? "Modifier" : "Valider" }} }
        </button>
        }
      </div>
    </form>
  </div>
</section>
}
<main class="main-bibliothecaire">
  <div class="bibliothecaire">
    <div class="head"></div>
    <div class="table">
      <div class="add">
        <h1 class="title">Ajouter</h1>

        <button
          type="button"
          class="btn btn-primary"
          (click)="openAddBibliothecaire()"
        >
          <i class="fa fa-add"></i>
        </button>
      </div>

      <div class="exportExcel">
        <button class="btn btn-primary" (click)="exportexcel()">
          Exporter en Excel
        </button>
      </div>
      <!-- ///////////////////////////////////TABLE/////////////////////////////////// -->
      <table class="section-table-bibliothecaire" id="dataExport">
        <thead class="table-heading-bibliothecaire">
          <tr class="heading">
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date de naissance</th>
            <th>Lieu de naissance</th>
            <th>CIN</th>
            <th>Contact</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="table-body-bibliothecaire">
          @for (item of bibliothecaires; track $index) {
          <tr class="data">
            <td>{{ item.nom_biblio }}</td>
            <td>{{ item.prenom_biblio }}</td>
            <td>{{ item.date_naissance }}</td>
            <td>{{ item.lieu_naissance }}</td>
            <td>{{ item.cin_biblio }}</td>
            <td>{{ item.tel_biblio }}</td>

            <td class="data-control">
              <button
                class="btn btn-success"
                (click)="updatebiBibliothecaire(item)"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>
              <button class="btn btn-eye" (click)="QrcodeOpen()">
                <i class="fa fa-qrcode"></i>
              </button>
              <button
                class="btn btn-danger"
                (click)="deleteBibliothecaire(item.id)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</main>
