<div class="overflow-x-auto mt-5 mx-12 rounded-xl">
  <div class="mb-6 space-y-4">
    <div
      class="flex justify-between items-center bg-gray-100 p-3 rounded-lg shadow-md"
    >
      <h1 class="text-xl font-extrabold uppercase text-gray-800">
        Gestion des Livres Empruntés
      </h1>
      <span
        class="mt-2 md:mt-0 px-3 py-1 bg-[color:var(--primary)] uppercase text-gray-800 rounded text-sm font-semibold"
      >
        Total : {{ AllEmprunter.length }}
      </span>
    </div>
  </div>

  <table class="min-w-full border-collapse text-center">
    <thead>
      <tr
        class="bg-[color:var(--blue)] text-[color:var(--primary)] border border-[color:var(--orange)]"
      >
        <th class="px-5 py-4 w-[200px]">Titre du livre</th>
        <th class="px-5 py-4 w-[150px]">Adhérent</th>
        <th class="px-5 py-4 w-[150px]">Date de l'emprunt</th>
        <th class="px-5 py-4 w-[150px]">Date de Retour</th>
        <th class="px-5 py-4 w-[100px]">Quantité</th>
        <th class="px-5 py-4 w-[150px]">Status</th>
      </tr>
    </thead>
    <tbody class="text-[16px]">
      <tr
        *ngFor="let item of AllEmprunter; trackBy: trackByFn"
        class="odd:bg-white border border-gray-200"
      >
        <td class="px-5 py-3 font-bold uppercase">
          {{ item.livre.titreLivre }}
        </td>
        <td class="px-5 py-3">
          <span class="uppercase font-bold">{{ item.adherent.nom_Adh }}</span>
          {{ item.adherent.prenom_Adh }}
        </td>
        <td class="px-5 py-3">{{ item.dateEmprunt }}</td>
        <td class="px-5 py-3">{{ item.dateRetour }}</td>
        <td class="px-5 py-3 font-semibold">{{ item.quantity }}</td>
        <td class="px-5 py-3">
          <button
            class="px-4 py-1.5 bg-emerald-500 text-white font-semibold rounded-lg shadow hover:bg-emerald-600 active:scale-95 transition-all duration-200"
            (click)="retournerLivre(+item.id, item.id)"
          >
            <i class="fa fa-check mr-1"></i> {{ item.status }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
