<table class="section-table-bibliothecaire">
  <thead class="table-heading-bibliothecaire">
    <tr class="heading">
      <th>Titre du livre</th>
      <th>Nom de l'Adherent</th>
      <th>Date de l'emprunt</th>
      <th>Date de Retour</th>
      <th>Status</th>

      <th>Action</th>
    </tr>
  </thead>
  <tbody class="table-body-bibliothecaire">
    @for (item of AllEmprunter; track $index) {
    <tr class="data">
      <td>{{ item.titreLivre }}</td>
      <td>{{ item.nameAdhrent }}</td>
      <td>{{ item.dateEmprunt }}</td>
      <td>{{ item.dateRetour }}</td>
      <td>{{ item.status }}</td>
      <td class="data-control">
        <button class="btn btn-success">
          <i class="fa-solid fa-pencil"></i>
        </button>

        <button class="btn btn-danger" (click)="deleteEmprunter(item.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
