<table class="section-table-bibliothecaire">
  <thead class="table-heading-bibliothecaire">
    <tr class="heading">
      <th>Titre du livre</th>
      <th>Nom&Prenom de l'Adherent</th>
      <th>Date de l'emprunt</th>
      <th>Date de Retour</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody class="table-body-bibliothecaire">
    <tr *ngFor="let item of AllEmprunter; trackBy: trackByFn" class="data">
      <td>{{ item.livre.titreLivre }}</td>
      <td>{{ item.adherent.nom_Adh }} {{ item.adherent.prenom_Adh }}</td>
      <td>{{ item.dateEmprunt }}</td>
      <td>{{ item.dateRetour }}</td>
      <td>
        <button
          class="btn btn-primary"
          (click)="retournerLivre(+item.id, item.id)"
        >
          <i class="fa fa-check"></i>
          {{ item.status }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
