@if (isAdherentComponentOpen) {
<main class="add-adherent">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeCard()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form
      class="style-form"
      (submit)="createadherent()"
      [formGroup]="AdherentForm"
    >
      <div class="container-form-body">
        <h1>{{ isModifAction ? "Modification" : "Enregistrement" }}</h1>
        <hr />

        <div class="container-form nom_Adh">
          <input type="text" formControlName="nom_Adh" required /><span
            >Nom*
          </span>
        </div>
        @if (nom_Adh?.touched && nom_Adh?.errors?.["required"]) {
        <p class="error-text">Nom, s'il vous plait.</p>
        }
        <div class="container-form prenom_Adh">
          <input type="text" formControlName="prenom_Adh" required />
          <span>Prenom* </span>
        </div>
        @if (prenom_Adh?.touched && prenom_Adh?.errors?.["required"]) {
        <p class="error-text">Prenom, s'il vous plait.</p>
        }
        <div class="container-form adrs_Adh">
          <input type="text" formControlName="adrs_Adh" required />
          <span>Adresse* </span>
        </div>
        @if (adrs_Adh?.touched && adrs_Adh?.errors?.["required"]) {
        <p class="error-text">Adresse, s'il vous plait.</p>
        }
        <div class="container-form tel_Adh">
          <input type="text" formControlName="tel_Adh" required />
          <span>Contact* </span>
        </div>
        @if (tel_Adh?.touched && tel_Adh?.errors?.["required"]) {
        <p class="error-text">Contact, s'il vous plait.</p>
        }

        <div class="dt_adhesion">
          <span>Date d'adhesion* </span>
          <input type="date" formControlName="dt_adhesion" required />
        </div>

        <div class="categorie">
          <select formControlName="categorie" id="categorie" required>
            <option value="choix">Choisiser la categorie</option>
            @for (i of categorie; track $index) {

            <option [value]="i">{{ i }}</option>
            }
          </select>
        </div>

        <div class="btn-add">
          @if (AdherentForm.valid) {
          <button
            class="{{
              isRegisterSuccess
                ? 'btn btn-success transition'
                : 'btn btn-primary transition'
            }}"
            type="submit"
          >
            @if(!isSubmitting && !isRegisterSuccess) {
            {{ isModifAction ? "Modifier" : "Valider" }} }
          </button>
          }
        </div>
      </div>
    </form>
  </div>
</main>
} @if (qrcodeadherent) {
<main class="qrcode">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeCard()"
    >
      <i class="fa fa-times"></i>
    </button>

    <div class="container-form-body">
      <h1>Qrcode Adherent</h1>
      <hr />

      <div class="container-form" #content>
        <div class="qrcodeImage">
          <qrcode
            [qrdata]="(genererDonneesQr() || '').toString()"
            [allowEmptyString]="true"
            [ariaLabel]="'QR Code image with the following content...'"
            [cssClass]="'center'"
            [colorDark]="'#000000ff'"
            [colorLight]="'#ffffffff'"
            [elementType]="'canvas'"
            [errorCorrectionLevel]="'M'"
            [imageHeight]="75"
            [imageWidth]="75"
            [margin]="4"
            [scale]="1"
            [title]="'A custom title attribute'"
            [width]="400"
          ></qrcode>
        </div>
      </div>
      <div class="btn-download">
        <button class="download" (click)="Qr()">
          <i class="fa fa-download"></i> Telecharger
        </button>
      </div>
    </div>
  </div>
</main>
}
<section class="count-group">
  <div class="count">
    <div class="dashboard teacher">
      <span>Professeur</span>
      <hr />
      <p>{{ getTotalProfesseurs() }}</p>
    </div>
  </div>
  <div class="count">
    <div class="dashboard student">
      <span>Eleve</span>
      <hr />
      <p>{{ getTotalEleves() }}</p>
    </div>
  </div>
  <div class="count">
    <div class="dashboard other">
      <span>Externe</span>
      <hr />
      <p>{{ getTotalExternes() }}</p>
    </div>
  </div>
</section>
<div class="filtrer">
  <span>Filtrer :</span>
  <select
    name="filter-adherent"
    id="filter-adherent"
    [(ngModel)]="categorieSelectionnee"
  >
    @for(item of filter; track $index){
    <option [value]="item">{{ item }}</option>
    }
  </select>
</div>
<main class="main-adherent">
  <div class="adherent">
    <div class="table">
      <div class="add">
        <h1 class="title">Ajouter Aherent</h1>
        <button type="button" class="btn btn-primary" (click)="openAdd()">
          <i class="fa fa-add"></i>
        </button>
      </div>
      <div class="exportExcel">
        <button class="btn btn-primary" (click)="exportexcel()">
          Exporter en Excel
        </button>
      </div>
      <table class="section-table-adherent" id="dataExport">
        <thead class="table-heading-adherent">
          <tr class="heading">
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse</th>
            <th>Contact</th>
            <th>Date d'adhesion</th>
            <th>Categorie</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="table-body-adherent">
          @for (item of filtrerDonnees(); track $index) {
          <tr class="data">
            <td>{{ item.nom_Adh }}</td>
            <td>{{ item.prenom_Adh }}</td>
            <td>{{ item.adrs_Adh }}</td>
            <td>{{ item.tel_Adh }}</td>
            <td>{{ item.dt_adhesion }}</td>
            <td>{{ item.categorie }}</td>

            <td class="data-control">
              <button class="btn btn-success" (click)="updateadherent(item)">
                <i class="fa-solid fa-pencil"></i>
              </button>
              <button class="btn btn-eye" (click)="QrcodeOpen()">
                <i class="fa fa-qrcode"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteadherent(item.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</main>
