<main class="main-register">
  <app-navbar></app-navbar>
  <section class="main-body">
    <div class="auth-form form-content">
      <form
        class="form-container"
        (submit)="createUsers()"
        [formGroup]="UsersForm"
      >
        <h1>Enregistrement</h1>
        <hr />
        <div class="form-container-text">
          <input type="text" formControlName="nomComplet" required />
          <!-- <p></p> -->
          <span>Nom Complet*</span>
        </div>
        <div class="form-container-text">
          <input type="text" formControlName="adresse" required />
          <!-- <p></p> -->
          <span>Adresse*</span>
        </div>
        <div class="form-container-text">
          <input type="email" formControlName="email" required />
          <!-- <p></p> -->
          <span>Email</span>
          @if (email?.touched && email?.errors?.["required"]) {
          <p class="error-text">Email invalide</p>
          }
        </div>
        <div class="form-container-text">
          <input type="text" formControlName="contact" required />
          <!-- <p></p> -->
          <span>Contact*</span>
        </div>
        <div class="form-container-text">
          <input type="text" formControlName="nomUtilisateur" required />
          <!-- <p></p> -->
          <span>Nom utilisateur*</span>
        </div>

        <div class="form-container-text password">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            formControlName="motDePasse"
            required
          />

          <span>Mot de passe*</span>
          <button
            class="btn-show-password transition"
            (click)="VisiblePassword()"
            type="button"
          >
            @if (!showPassword) {
            <i class="fa fa-eye"></i>
            } @else {
            <i class="fa fa-eye-slash"></i>
            }
          </button>
        </div>
        <div class="form-container-text">
          <input
            type="password"
            formControlName="ConfirmationmotDePasse"
            required
          />
          <!-- <p></p> -->
          <span>Confirmation mot de passe*</span>
          @if (ConfirmationmotDePasse?.touched &&
          ConfirmationmotDePasse?.errors?.["required"]) {
          <p class="error-text">Confirmation mot de passe incorrect</p>
          }
        </div>
        <div class="btn-submit">
          <button class="btn btn-primary">S'inscrire</button>
        </div>
      </form>
    </div>
    <div class="auth-form form-hero">
      <h1 class="title-no-acount">
        Si vous avez deja un compte, connecer-vous
      </h1>
      <button
        type="button"
        class="btn btn-primary auth-inscription"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        <i class="fa fa-arrow-left"> </i> connecter
      </button>
    </div>
  </section>
</main>
