<main class="main-register">
  <app-navbar></app-navbar>
  <section class="main-body">
    <div class="auth-form form-content">
      <form class="form-container">
        <h1>Enregistrement</h1>
        <hr />
        <div class="form-container-text">
          <input type="text" required />
          <p></p>
          <span>Nom*</span>
        </div>
        <div class="form-container-text">
          <input type="text" required />
          <p></p>
          <span> Prenom*</span>
        </div>
        <div class="form-container-text">
          <input type="text" required />
          <p></p>
          <span>Contact*</span>
        </div>
        <div class="form-container-text">
          <input type="text" required />
          <p></p>
          <span>Nom utilisateur*</span>
        </div>
        <div class="form-container-text">
          <input type="text" required />
          <p></p>
          <span>CE ou CIN</span>
        </div>
        <div class="form-container-text">
          <input type="text" required />
          <p></p>
          <span>Adresse*</span>
        </div>
        <div class="btn-submit">
          <button class="btn btn-primary">S'inscrire</button>
        </div>
      </form>
    </div>
    <div class="auth-form form-hero">
      <h1 class="title-no-acount">
        Si vous avez deja un compte, connecer-vous
      </h1>
      <button
        type="button"
        class="btn btn-primary auth-inscription"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        <i class="fa fa-arrow-left"> </i> connecter
      </button>
    </div>
  </section>
</main>
