@if(isAddLivre){
<app-add-livre (close)="closeCard()"></app-add-livre>
} @if(isVoirplus){
<app-voir-plus-livre (close)="closeVoirPLus()"></app-voir-plus-livre>
}
<main class="main-livre">
  <section class="heading">
    <h1 class="title">Les livres disponibles</h1>
    <div class="search">
      <input type="search" placeholder="Search" name="search" id="search" />
      <button><i class="fa fa-search"></i></button>
    </div>
    <div class="btn-add">
      <button class="add" (click)="openLivre()">
        <i class="fa fa-add"></i>
      </button>
    </div>
  </section>
  <!-- <section class="voirplus">
    <a routerLink="voirplus" routerLinkActive="active" class="nav-link"
      >Voir plus <i class="fa fa-arrow-right"></i
    ></a>
  </section> -->
  <section class="body">
    <div class="book">
      <img src="../../../../assets/img/book.jpg" alt="" />

      <span class="title-book"> <i class="fa fa-book"></i> Titre :</span>
      <span class="title-auteur"><i class="fa fa-user"></i> Auteur :</span>

      <span class="title-edition">Edition :</span>
      <span class="title-categorie">Categorie :</span>
      <button class="btn btn-primary" (click)="openVoirPLus()">
        Voir plus <i class="fa fa-arrow-right"></i>
      </button>
    </div>
    <div class="book">
      <img src="../../../../assets/img/book.jpg" alt="" />
      <span class="title-book">Titre :</span>
      <span class="title-auteur">Auteur :</span>

      <span class="title-edition">Edition :</span>
      <span class="title-categorie">Categorie :</span>
      <button class="btn btn-primary" (click)="openVoirPLus()">
        Voir plus <i class="fa fa-arrow-right"></i>
      </button>
    </div>
    <div class="book">
      <img src="../../../../assets/img/book.jpg" alt="" />
      <span class="title-book">Titre :</span>
      <span class="title-auteur">Auteur :</span>

      <span class="title-edition">Edition :</span>
      <span class="title-categorie">Categorie :</span>
      <button class="btn btn-primary" (click)="openVoirPLus()">
        Voir plus <i class="fa fa-arrow-right"></i>
      </button>
    </div>
    <div class="book">
      <img src="../../../../assets/img/book.jpg" alt="" />
      <span class="title-book">Titre :</span>
      <span class="title-auteur">Auteur :</span>

      <span class="title-edition">Edition :</span>
      <span class="title-categorie">Categorie :</span>
      <button class="btn btn-primary" (click)="openVoirPLus()">
        Voir plus <i class="fa fa-arrow-right"></i>
      </button>
    </div>
    <div class="book">
      <img src="../../../../assets/img/book.jpg" alt="" />
      <span class="title-book">Titre :</span>
      <span class="title-auteur">Auteur :</span>

      <span class="title-edition">Edition :</span>
      <span class="title-categorie">Categorie :</span>
      <button class="btn btn-primary" (click)="openVoirPLus()">
        Voir plus <i class="fa fa-arrow-right"></i>
      </button>
    </div>
    <div class="book">
      <img src="../../../../assets/img/book.jpg" alt="" />
      <span class="title-book">Titre :</span>
      <span class="title-auteur">Auteur :</span>

      <span class="title-edition">Edition :</span>
      <span class="title-categorie">Categorie :</span>
      <button class="btn btn-primary" (click)="openVoirPLus()">
        Voir plus <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </section>
</main>
