// * {
//   border: 1px solid red;
// }
.add-voir-plus {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fade 0.3s 0.1s ease-in-out forwards;
  .form-container {
    width: 100%;
    max-width: 850px;
    min-height: 250px;
    border-radius: 9px;
    background: var(--blue);
    position: relative;
    .btn-close-form {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      font-size: 20px;
      border: 0;
      outline: 0;
      color: var(--primary);
      background: 0;
      opacity: 0.6;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: red;
        opacity: 1;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .style-form {
    background: #eee;
    border-radius: 18px;
    margin: 25px;
    padding: 25px;
    .title-voir-plus {
      font-size: 25px;
      text-align: center;
    }
    .container-form-body {
      display: flex;
      margin: 0px 20px;
      position: relative;
      flex-direction: column;
      h1 {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
      }

      p {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        padding: 5px 85px;
      }
      .description {
        color: var(--blue);

        letter-spacing: 0.05em;
        transition: 0.5s;
        z-index: 10;
        width: 100%;
        max-width: 700px;
        outline: 0;
        border: none;
        box-shadow: none;
        border-radius: 4px;
        background: transparent;
        p {
          width: 100%;
          height: 100vh;
          max-height: 40px;
          font-size: 15px;
        }
      }
      .container-form {
        margin: 20px 0px;
        letter-spacing: 0.05em;
        position: relative;
        display: flex;
        justify-content: space-between;
        color: var(--blue);

        p {
          width: 100%;
          height: 100vh;
          max-height: 40px;
          font-size: 20px;
        }
      }
      .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: none;

        button {
          letter-spacing: 2px;
          border-radius: 8px;
          font-size: 10px;
          opacity: 0.9;
          border: 1px solid var(--blue);
          padding: 10px 50px;
          font-weight: bold;
          text-transform: uppercase;
          &.download {
            color: var(--primary);
            background-color: var(--blue);
            &:hover {
              opacity: 1;
              filter: brightness(1.2);
            }
            &:active {
              transform: scale(0.9);
            }
          }
          &.link {
            padding: 10px 40px;
            &:hover {
              opacity: 1;
              filter: brightness(1.2);
            }
            &:active {
              transform: scale(0.9);
            }
          }
          &.lire {
            &:hover {
              opacity: 1;
              filter: brightness(1.2);
            }
            &:active {
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }
}

// @keyframes fade {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
.add-emprunter {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fade 0.3s 0.1s ease-in-out forwards;
  .form-container {
    width: 100%;
    max-width: 550px;
    min-height: 250px;
    border-radius: 9px;
    background: var(--blue);
    position: relative;
    .btn-close-form {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      font-size: 20px;
      border: 0;
      outline: 0;
      color: var(--primary);
      background: 0;
      opacity: 0.6;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: red;
        opacity: 1;
      }
      &:active {
        transform: scale(0.9);
      }
    }
    .style-form {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eee;
      border-radius: 18px;
      margin: 25px;
      padding: 25px;

      .container-form-body {
        display: grid;
        margin: 0px 20px;
        position: relative;
        flex-direction: column;
        h1 {
          text-transform: uppercase;
          font-size: 20px;
          letter-spacing: 2px;
          text-align: center;
        }
        hr {
          border: 1px solid black;
        }

        .container-form {
          flex-direction: column;
          margin: 20px 0px;
          position: relative;
          span {
            font-size: 16px;
            padding: 10px;
            color: var(--orange);
          }
          select {
            width: 100%;
            height: 40px;
            border-radius: 3px;
            margin-bottom: 20px;
            outline: 0;
            font-size: 16px;
            background-color: #eee;
          }
          input {
            border: none;
            color: var(--blue);
            padding: 10px 10px;
            font-size: 1em;
            letter-spacing: 0.05em;
            transition: 0.5s;
            z-index: 10;
            width: 100%;
            max-width: 900px;
            outline: 0;

            box-shadow: none;
            border-radius: 4px;
            background: transparent;
          }
        }
        .btn-add {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;

          &:hover {
            opacity: 1;
            filter: brightness(1.2);
          }
          &:active {
            transform: scale(0.9);
          }
          .btn {
            color: #fff;
            letter-spacing: 2px;
            border-radius: 8px;
            font-size: 15px;
            opacity: 0.9;
            border: none;
            padding: 10px 90px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// @keyframes fade {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }

.add-livre {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fade 0.2s 0.1s ease-in-out forwards;
  .form-container {
    width: 100%;
    max-width: 1250px;
    min-height: 250px;
    border-radius: 9px;
    background: var(--blue);
    position: relative;
    .btn-close-form {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      font-size: 20px;
      border: 0;
      outline: 0;
      color: var(--primary);
      background: 0;
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: red;
        opacity: 1;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .style-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #eee;
    border-radius: 18px;
    margin: 25px;
    padding: 25px;
    .image {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 40px;
      flex-direction: column;
      img {
        width: 100%;
        height: 100vh;
        max-width: 500px;
        max-height: 500px;
      }
    }
    .container-form-body {
      display: grid;
      margin: 0px 20px;
      position: relative;
      flex-direction: column;
      h1 {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
      }
      hr {
        border: 1px solid black;
        // margin-bottom: 5px;
      }
      p {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: red;
        padding: 5px 85px;
      }
      .categorie {
        select {
          width: 100%;
          height: 40px;
          border-radius: 3px;
          margin-bottom: 20px;
          outline: 0;
          font-size: 16px;
          background-color: #eee;
        }
      }
      .description {
        span {
          position: absolute;
          left: 0;

          pointer-events: none;
          color: #8f8f8f;
          font-size: 1em;
          letter-spacing: 0.05em;
          transition: 0.5s;
        }

        .text {
          color: var(--blue);
          padding: 10px 10px;
          font-size: 1em;
          letter-spacing: 0.05em;
          transition: 0.5s;
          z-index: 10;
          width: 100%;
          max-width: 900px;
          outline: 0;

          box-shadow: none;
          border-radius: 4px;
          background: transparent;

          &:focus ~ span {
            color: var(--orange);
            font-size: 0.75em;
            transform: translateY(-20px);
            border: none;
          }

          &:valid ~ span {
            color: var(--orange);
            border: none;
            font-size: 0.75em;
            transform: translateY(-20px);
          }
        }
      }
      .container-form {
        border-bottom: 2px solid var(--orange);
        flex-direction: column;
        margin: 20px 0px;
        position: relative;
        span {
          position: absolute;
          left: 0;

          pointer-events: none;
          color: #8f8f8f;
          font-size: 1em;
          letter-spacing: 0.05em;
          transition: 0.5s;
        }

        input {
          border: none;
          color: var(--blue);
          padding: 10px 10px;
          font-size: 1em;
          letter-spacing: 0.05em;
          transition: 0.5s;
          z-index: 10;
          width: 100%;
          max-width: 900px;
          outline: 0;

          box-shadow: none;
          border-radius: 4px;
          background: transparent;

          &:focus ~ span {
            color: var(--orange);
            font-size: 0.75em;
            transform: translateY(-20px);
            border: none;
          }

          &:valid ~ span {
            color: var(--orange);
            border: none;
            font-size: 0.75em;
            transform: translateY(-20px);
          }
        }
      }
      .btn-add {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

        &:hover {
          opacity: 1;
          filter: brightness(1.2);
        }
        &:active {
          transform: scale(0.9);
        }
        .btn {
          color: #fff;
          letter-spacing: 2px;
          border-radius: 8px;
          font-size: 15px;
          opacity: 0.9;
          border: none;
          padding: 10px 90px;
          font-weight: bold;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main-livre {
  width: 100%;
  margin: 0;
  padding: 0;

  .heading {
    color: var(--primary);
    width: 100%;
    gap: 438px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    .title {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 800;
    }
    .search {
      position: relative;
      width: 100%;
      max-width: 900px;
      input {
        border: none;
        width: 100%;
        outline: 0;
        padding: 10px 10px 10px 70px;

        border-radius: 8px;
      }
      button {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 50px;
        height: 40px;
        outline: 0;
        border: 0;
        background-color: var(--primary);
        i {
          color: var(--blue);
          &:hover {
            color: black;
          }
        }
      }
    }
    .btn-add {
      button {
        // padding: 20px;
        border: none;
        outline: 0;
        background-color: transparent;
        i {
          font-size: 20px;
          color: var(--primary);
        }
      }
    }
  }
  // .voirplus {
  //   display: flex;
  //   justify-content: right;
  //   color: var(--orange);
  //   margin: 20px;
  //   &:hover {
  //     color: var(--blue);
  //   }
  // }
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 20px;
    .book {
      background-color: #eee;
      border-radius: 8px;

      // gap: 10px;
      position: relative;
      .deletebook {
        position: absolute;
        display: flex;
        gap: 10px;
        right: 0;
        top: 0;
      }
      .list-book {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        gap: 10px;
        img {
          width: 350px;
          height: 250px;
        }
        span {
          display: flex;
          gap: 10px;
          p {
            text-transform: uppercase;
          }
        }
        button {
          width: 100%;
          outline: 0;
          &:hover {
            opacity: 1;
            filter: brightness(1.2);
          }
          &:active {
            transform: scale(0.9);
          }
          i {
            font-size: 20px;
            color: var(--primary);
            &:hover {
              color: var(--blue);
              opacity: 1;
              filter: brightness(1.2);
            }
            &:active {
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }
}
