.add-adherent {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fade 0.3s 0.1s ease-in-out forwards;
  .form-container {
    width: 100%;
    max-width: 550px;
    min-height: 250px;
    border-radius: 9px;
    background: var(--blue);
    position: relative;
    .btn-close-form {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      font-size: 20px;
      border: 0;
      outline: 0;
      color: var(--primary);
      background: 0;
      opacity: 0.6;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: red;
        opacity: 1;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .style-form {
    background: #eee;
    border-radius: 18px;
    margin: 25px;
    padding: 25px;

    .container-form-body {
      display: grid;
      width: 100%;
      max-width: 420px;
      margin: 0px 20px;
      position: relative;
      flex-direction: column;
      h1 {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
      }
      hr {
        border: 1px solid black;
        // margin-bottom: 5px;
      }
      p {
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        color: red;
        padding: 5px 85px;
      }
      .categorie_Adherent {
        select {
          width: 100%;
          height: 40px;
          border-radius: 3px;
          margin-bottom: 20px;
          outline: 0;
          font-size: 16px;
          background-color: #eee;
        }
      }
      .date_Adherent {
        span {
          pointer-events: none;
          color: #8f8f8f;
          font-size: 1em;
          letter-spacing: 0.05em;
          transition: 0.5s;
        }
        input {
          width: 100%;
          height: 40px;
          border-radius: 3px;
          margin-bottom: 20px;
          outline: 0;
          text-align: center;
          border: 1px solid #8f8f8f;
          font-size: 16px;
          background-color: #eee;
        }
      }

      .container-form {
        border-bottom: 2px solid var(--orange);
        flex-direction: column;
        margin: 20px 0px;
        position: relative;
        span {
          position: absolute;
          left: 0;
          pointer-events: none;
          color: #8f8f8f;
          font-size: 1em;
          letter-spacing: 0.05em;
          transition: 0.5s;
        }

        input {
          border: none;
          color: var(--blue);
          padding: 10px 10px;
          font-size: 1em;
          letter-spacing: 0.05em;
          transition: 0.5s;
          z-index: 10;
          width: 100%;
          max-width: 550px;
          outline: 0;

          box-shadow: none;
          border-radius: 4px;
          background: transparent;

          &:focus ~ span {
            color: var(--orange);
            font-size: 0.75em;
            transform: translateY(-20px);
            border: none;
          }

          &:valid ~ span {
            color: var(--orange);
            border: none;
            font-size: 0.75em;
            transform: translateY(-20px);
          }
        }
        &.nom_Adherent {
          input {
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }
      .btn-add {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

        &:hover {
          opacity: 1;
          filter: brightness(1.2);
        }
        &:active {
          transform: scale(0.9);
        }
        .btn {
          color: #fff;
          letter-spacing: 2px;
          border-radius: 8px;
          font-size: 15px;
          opacity: 0.9;
          border: none;
          padding: 10px 90px;
          font-weight: bold;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
