<main class="add-adherent">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeForm()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form
      class="style-form"
      (submit)="createadherent()"
      [formGroup]="AdherentForm"
    >
      <div class="container-form-body">
        <h1>Enregistrement</h1>
        <hr />

        <div class="container-form nom_Adh">
          <input type="text" formControlName="nom_Adh" required /><span
            >Nom*
          </span>
        </div>
        @if (nom_Adh?.touched && nom_Adh?.errors?.["required"]) {
        <p class="error-text">Nom, s'il vous plait.</p>
        }
        <div class="container-form prenom_Adh">
          <input type="text" formControlName="prenom_Adh" required />
          <span>Prenom* </span>
        </div>
        @if (prenom_Adh?.touched && prenom_Adh?.errors?.["required"]) {
        <p class="error-text">Prenom, s'il vous plait.</p>
        }
        <div class="container-form adrs_Adh">
          <input type="text" formControlName="adrs_Adh" required />
          <span>Adresse* </span>
        </div>
        @if (adrs_Adh?.touched && adrs_Adh?.errors?.["required"]) {
        <p class="error-text">Adresse, s'il vous plait.</p>
        }
        <div class="container-form tel_Adh">
          <input type="text" formControlName="tel_Adh" required />
          <span>Contact* </span>
        </div>
        @if (tel_Adh?.touched && tel_Adh?.errors?.["required"]) {
        <p class="error-text">Contact, s'il vous plait.</p>
        }

        <div class="dt_adhesion">
          <span>Date d'adhesion* </span>
          <input type="date" formControlName="dt_adhesion" required />
        </div>

        <div class="categorie">
          <select formControlName="categorie" id="categorie" required>
            <option value="choix">Choisiser la categorie</option>
            @for (i of categorie; track $index) {

            <option [value]="i">{{ i }}</option>
            }
          </select>
        </div>

        <div class="btn-add">
          @if (AdherentForm.valid) {
          <button
            class="{{
              isRegisterSuccess
                ? 'btn btn-success transition'
                : 'btn btn-primary transition'
            }}"
            type="submit"
          >
            @if(!isSubmitting && !isRegisterSuccess) { {{ formHeader }} }
          </button>
          }
        </div>
      </div>
    </form>
  </div>
</main>
