<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acceuil</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <main class="home-title">
      <h1 class="title-presentation">
        <span>L</span>ibrary <br />
        <span>M</span>anagement <br />
        <span>S</span>ystem
      </h1>
      <div class="btn">
        <a class="btn-link" routerLink="login">
          Commencer <i class="fa fa-arrow-right"> </i>
        </a>
      </div>
    </main>
  </body>
</html>
