<main class="dashboard">
  <section class="barre">
    <h1 class="title">Tableau de Bord</h1>
    <div class="search">
      <button><i class="fa fa-search"></i></button>
      <input type="search" placeholder="Search" name="search" id="search" />
    </div>

    <i class="fa fa-user"></i>
  </section>
  <section class="sect1">
    <div class="count adherent">
      <img src="../../../../assets/img/logo.webp" />
      <div class="test">
        <span>Nombre d'Adherent</span>
        <hr />
        <p>3</p>
      </div>
    </div>
    <div class="count adherent">
      <img src="../../../../assets/img/bibliothecaire.png" />
      <div class="test">
        <span>Nombre de bibliothecaire</span>
        <hr />
        <p>3</p>
      </div>
    </div>
    <div class="count adherent">
      <img src="../../../../assets/img/next.jpg" />
      <div class="test">
        <span>Livre Emprunter</span>
        <hr />
        <p>3</p>
      </div>
    </div>
    <div class="count adherent">
      <img src="../../../../assets/img/return.jpg" />
      <div class="test">
        <span>Livre Retourner</span>
        <hr />
        <p>3</p>
      </div>
    </div>
  </section>
  <section class="sect2">
    <div class="chart first">
      <div class="chart-first">
        <div class="header-chart-first">
          <h1>Historique d'Emprunt</h1>
          <!-- </div>
        <div class="troispoint"> -->
          <button class="btn"><i class="fa fa-ellipsis-h"></i></button>
        </div>

        <!-- <div lass="ngx-chart" style="display: block">
          <canvas
            baseChart
            width="400"
            height="400"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
          >
          </canvas>
        </div> -->
      </div>
      <div class="chart-second">
        <div class="chart-second-first">
          <div class="header-chart-second">
            <h1>Livre Populaire</h1>
          </div>
          <div class="troispoint">
            <button class="btn"><i class="fa fa-ellipsis-h"></i></button>
          </div>
        </div>
        <div class="chart-second-second">
          <div class="header-second-second">
            <h1>Livres recement emprunter</h1>
          </div>
          <div class="troispoint">
            <button class="btn"><i class="fa fa-ellipsis-h"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="chart second">
      <div class="chart-last-section">
        <div class="last-section-header">
          <h1>Meilleur Autheur</h1>
        </div>
        <div class="troispoint">
          <button class="btn"><i class="fa fa-ellipsis-h"></i></button>
        </div>
      </div>
    </div>
  </section>
</main>
