<main class="dashboard">
  <section class="barre">
    <h1 class="title">Tableau de Bord</h1>
    <div class="search">
      <button><i class="fa fa-search"></i></button>
      <input type="search" placeholder="Search" name="search" id="search" />
    </div>

    <i class="fa fa-user"></i>
  </section>
  <section class="sect1">
    <div class="count adherent">
      <i class="fa fa-users"></i>
      <div class="test">
        <span>Nombre d'Adherent</span>
        <hr />
        <p>3</p>
      </div>
    </div>
    <div class="count adherent">
      <i class="fa fa-users"></i>
      <div class="test">
        <span>Nombre de bibliothecaire</span>
        <hr />
        <p>3</p>
      </div>
    </div>
    <div class="count adherent">
      <i class="fa fa-users"></i>
      <div class="test">
        <span>Livre Emprunter</span>
        <hr />
        <p>3</p>
      </div>
    </div>
    <div class="count adherent">
      <i class="fa fa-users"></i>
      <div class="test">
        <span>Livre Retourner</span>
        <hr />
        <p>3</p>
      </div>
    </div>
  </section>
  <section class="sect2">
    <div class="chart">
      <div class="chart-first">
        <div class="header-char-first">
          <h1>Historique d'Emprunt</h1>
        </div>
        <div class="troispoint">
          <button class="btn"><i class="fa fa-ellipsis-h"></i></button>
        </div>
      </div>
      <div class="chart-second">
        <div class="chart-second-first">dfsf</div>
        <div class="chart-second-second">fsdfds</div>
      </div>
    </div>
    <div class="chart"></div>
  </section>
</main>
