<main class="add-bibliothecaire">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeForm()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form class="style-form">
      <!-- <img src="../../../../assets/img/book2.jpg" alt="" srcset="" /> -->
      <div class="container-form-body">
        @for( item of livres; track $index){
        <div class="container-form titreLivre">
          <label for="titreLivre">Titre </label>
          <p>{{ item.titreLivre }}</p>
        </div>

        <div class="container-form auteurLivre">
          <label for="auteurLivre">Auteur </label>
          <p>{{ item.auteurLivre }}</p>
        </div>

        <div class="container-form editionLivre">
          <label for="editionLivre">Edition </label>
        </div>

        <div class="container-form categorieLivre">
          <label for="categorieLivre">Categorie </label>
          <p>{{ item.categorie }}</p>
        </div>

        <div class="description">
          <label for="description">Description </label>
          <p>{{ item.description }}</p>
        </div>
        }
        <div class="btn-group">
          <div class="down">
            <button type="button" class="btn download">
              <i class="fa fa-download"></i> Telecharger
            </button>
          </div>
          <div class="down">
            <button type="button" class="btn lire">
              <i class="fas fa-microphone"></i>Lire
            </button>
          </div>
          <div class="issuebook">
            <button
              class="btn link"
              (click)="openEmpreinteComponents()"
              type="button"
            >
              <i class="fas fa-hand-holding-usd"></i> Emprunter
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
