<main class="add-bibliothecaire">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeForm()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form class="style-form">
      <!-- <img src="../../../../assets/img/book2.jpg" alt="" srcset="" /> -->
      <div class="container-form-body">
        <div class="container-form titreLivre">
          <label for="titreLivre">Titre </label>
          <input type="text" formControlName="titreLivre" />
        </div>

        <div class="container-form auteurLivre">
          <label for="auteurLivre">Auteur </label>
          <input type="text" formControlName="auteurLivre" />
        </div>

        <div class="container-form editionLivre">
          <label for="editionLivre">Edition </label>
          <input type="text" formControlName="editionLivre" />
        </div>

        <div class="container-form categorieLivre">
          <label for="categorieLivre">Categorie </label>
          <input type="text" formControlName="categorieLivre" />
        </div>

        <div class="description">
          <label for="description">Description </label>
          <textarea
            class="text"
            formControlName="description"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="btn-group">
          <div class="down">
            <button type="button" (click)="ohatra()" class="btn download">
              <i class="fa fa-download"></i> Telecharger
            </button>
          </div>
          <div class="down">
            <button type="button" class="btn lire" (click)="test()">
              <i class="fas fa-microphone"></i>Lire
            </button>
          </div>
          <div class="issuebook">
            <button
              class="btn link"
              (click)="openEmpreinteComponents()"
              type="button"
            >
              <i class="fas fa-hand-holding-usd"></i> Emprunter
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
