.section-table-bibliothecaire {
  width: 100%;
  margin-right: 90px;
  margin-top: 20px;
  .table-heading-bibliothecaire {
    width: 100%;

    text-align: center;
    .heading {
      color: var(--primary);

      background: var(--blue);
      border: 1px solid var(--orange);
      &:nth-child(even) {
        background-color: var(--orange);
      }
      th {
        padding: 20px;
        &:first-child {
          width: 200px;
        }
        &:nth-child(2) {
          width: 200px;
        }
        &:nth-child(3) {
          width: 200px;
        }
        &:nth-child(4) {
          width: 200px;
        }
        &:last-child {
          width: 150px;
        }
      }
    }
  }
  .table-body-bibliothecaire {
    padding-top: 90px;
    font-size: 16px;
    text-align: center;
    td {
      padding: 8px 20px;
      border: 1px solid #eee;

      &.data-control {
        gap: 20px;
        .btn-eye {
          background-color: #eee;
          border: none;
          &:hover {
            opacity: 1;
            filter: brightness(1.2);
          }
          &:active {
            transform: scale(0.9);
          }
        }
        .btn {
          border: none;
          &:hover {
            opacity: 1;
            filter: brightness(1.2);
          }
          &:active {
            transform: scale(0.9);
          }
        }
      }
      &:nth-child(1) {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
