@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  //border: 1px solid red;
}
:root {
  --primary: #ffffff;
  --span: rgb(235, 20, 20);
  --orange: #ff7c1f;
  --blue: #22232ac5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
